/* Default styles for larger screens */
.description {
    position: relative;
    color: white;
    font-size: 3vw;
    text-transform: uppercase;
    width: 50%;
    margin-top: 0vw;
    margin-left: 0vw;
    z-index: 100;
}

.description p {
    margin: 0px;
    position: relative;
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
    .description {
        font-size: 16px;
        /* Adjust the font size for mobile devices */
        width: 100%;
        /* Make the width full for better responsiveness */
        margin: 10px;
        /* Add some margin for spacing */
    }
}